/* Reset básico */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f9fd;
    color: #222;
    line-height: 1.6;
  }

  html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* Main ocupa espaço e empurra o footer */
  main {
    flex: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #58a1ff;
  }

  header .logo img {
    width: 50px;
    max-width: 50px;
    margin-right: 10px;
    transform: translateY(1px);
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 55px;
    font-size: 1.5rem;
    margin-right: 2.5rem;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: #58a1ff;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
  
  .hero-text {
    margin-top: -130px;
    max-width: 650px;
  }
  
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #111;
    line-height: 80px;
  }
  
  .hero-text p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #555;
  }
  
  .hero-text input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 70%;
    margin-right: 10px;
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  
  .hero-text button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: #58a1ff;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background: #58a1ff;
  }
  
  .hero-image img {
    transform: translateY(-15px);
    width: 550px;
    max-width: 100%;
  }
  
  /* Imagem da cidade continua absoluta dentro do footer */
  .cidade {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1900px;
    z-index: -1; /* fica atrás do texto */
  }

  footer {
    position: relative;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin: 0;
    height: 180px; /* altura para comportar a cidade */
    display: flex;
    align-items: flex-end;  /* joga o texto para o fundo */
    justify-content: center;
  }
  
  footer p {
    position: relative;
    margin-bottom: 15px; /* sobe um pouco do limite da cidade */
    color: #333;
    font-weight: bold;
  }